# This is Git's per-user configuration file.
[user]
	name = Jose Gisbert
	email = jisbert@users.noreply.github.com
[alias]
	# Show current aliases
	aliases = "!git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | grep -v ^'alias '"
	# View history graph
	l = log --all --graph --oneline
	# View status using the short format
	s = status -s
	# Show tags, branches and remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -vj
[core]
	sshCommand = C:\\\\Windows\\\\System32\\\\OpenSSH\\\\ssh.exe
	editor = code-insiders --wait
